<nav>
<ul>
<li><a href="{{site.baseurl}}/" {% if page.url == "/" %}class="active"{% endif %} title="Goto the home page">Home</a></li>
<li><a href="{{site.baseurl}}/about/" {% if page.url == "/about/" %}class="active"{% endif %} title="About">About</a></li>
<li><a href="{{site.baseurl}}/PuzzlesAtoZ/" {% if page.url == "/PuzzlesAtoZ/" %}class="active"{% endif %} 
       title="PuzzlesAtoZ">Puzzles A to Z</a></li>
<li><a href="{{site.baseurl}}/PuzzlesbyType/" {% if page.url == "/PuzzlesbyType/" %}class="active"{% endif %} title="PuzzlesbyType">Puzzles by Type</a></li>
<li><a href="{{site.baseurl}}/howtoorder/" {% if page.url == "/howtoorder/" %}class="active"{% endif %}title="How To Order" >How To Order</a></li>
<li><a href="{{site.baseurl}}/contact/" {% if page.url == "/contact/" %}class="active"{% endif %}title="Contact Us" >Contact</a></li>
</ul>
<hr>
</nav>
